DB_HOST=localhost
DB_PORT=5432
DB_NAME=employee-management
DB_USERNAME=admin
DB_PASSWORD=secret

APP_PORT=8080
PGADMIN_PORT=5050

APP_SECURITY_ENABLED=true
JWT_SECRET=change-this-development-secret-with-at-least-32-characters
JWT_EXPIRATION=PT1H
PGADMIN_EMAIL=admin@gmail.com
PGADMIN_PASSWORD=admin

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123456
